body {
    overflow: hidden;
    margin: 0px;
}

#map {
    height: 90%;
    width: 100%;
}

.menu {
    background-color: #ecf0f1;
    display: inline-block;
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
    width: 410px;
    list-style-type: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.0em;
    margin-right: 0px;
    position: relative;
    left: -200px;
}

.school {
    width: 400px;
    padding:10px;
    padding-top: 100px;
    background-color: #2980b9;
    color: #ecf0f1;
}

.menu-list h3 {
    color: #7f8c8d;
}

canvas {
    margin-bottom: 20px;
}

.menu-list > div {
    margin-left: 15px;
    margin-top: 10px;
}

li {
    padding-top: 20px;
}

a:hover {
    text-decoration: none;
}

.icon-close {
    padding-left: 150px;
    padding-top: 17px;
}

.menu-list {
    list-style-type: none;
    padding-left: 10px;
}
.main {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #34495e;
    display: inline-block;
    position: absolute;
    left: 0px;
}

#menu-button {
    float: left;
    border: none;
    margin-top: 10px;
    height: 7%;
    margin-bottom: 15px;
    min-height: 50px;
}

.main button {
    margin-right: 20px;
    background-color: #990000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.main button:hover {
    background-color: #CC0000;
}
