body {
    overflow: hidden;
    margin: 0px;
}

#map {
    height: 90%;
    width: 100%;
}

.menu {
    background-color: #ecf0f1;
    display: inline-block;
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
    width: 410px;
    list-style-type: none;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.0em;
    margin-right: 0px;
}

.school {
    width: 400px;
    padding:10px;
    padding-top: 100px;
    background-color: #2980b9;
    color: #ecf0f1;
}

.menu-list h3 {
    color: #7f8c8d;
}

canvas {
    margin-bottom: 20px;
}

.menu-list > div {
    margin-left: 15px;
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
}

.icon-close {
    padding-left: 150px;
    padding-top: 17px;
}

.menu-list {
    list-style-type: none;
    padding-left: 10px;
}

#search-div {
    float: right;
}

#search {
    background: none;
    border: none;
    color: #ecf0f1;
    height: 7%;
    min-height: 50px;
    margin: 10px 20px 15px 10px;
    font-size: 18;
    width: 0px;
    outline: none;
    border-bottom: 3px solid #ecf0f1;
    padding: 10px 0px 0px 0px;
}

.main {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #34495e;
    display: inline-block;
    position: absolute;
    left: 0px;
    min-width: 650px;
}

#menu-button {
    float: left;
    border: none;
    margin: 10px 0px 15px 15px;
    height: 7%;
    min-height: 50px;
}

.ui-menu {
    background-color: white;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-menu-item {
    padding: 5px 0px 5px 0px;
    color: #3498db;
}

#search-button {
    border: none;
    margin: 10px 0px 15px 0px;
    height: 7%;
    min-height: 50px;
}

.main button {
    margin-right: 20px;
    background-color: #990000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.main button:hover {
    background-color: #CC0000;
}
